In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
from collections import Counter
import matplotlib.pyplot as plt
from sklearn.metrics import confusion_matrix

In [3]:
data_c = pd.read_csv('/data/share/data/data_c_del_rowcol.csv')

data_c.set_index('Gene Name', drop=True, append=False, inplace=True)
data_c = np.log(data_c + 1)
data_t = pd.read_csv('/data/share/data/data_t_del_rowcol.csv')
data_t.set_index('Gene Name', drop=True, append=False, inplace=True)
data_t = np.log(data_t + 1)

In [6]:
data_c.shape, data_t.shape

((27166, 3325), (27166, 3325))

In [11]:
data_c.head()

,wild type_1,wild type_2,wild type_3,wild type_4,wild type_5,wild type_6,wild type_9,wild type_10,wild type_11,wild type_12,...,wild type_3448,wild type_3449,wild type_3450,wild type_3452,wild type_3453,wild type_3454,wild type_3457,wild type_3460,wild type_3461,wild type_3462
Gene Name,,,,,,,,,,,,,,,,,,,,,
0610006L08Rik,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.013041,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.007381,0.000000,0.000000
0610009B22Rik,0.000000,2.913492,2.868449,4.134545,2.758487,2.758487,2.819805,2.208898,2.899224,3.776115,...,3.240857,3.240857,3.240857,0.420998,2.033064,1.374175,2.633743,2.944785,3.305174,2.657610
0610010F05Rik,1.158592,2.254265,2.254666,1.987259,3.113407,3.113407,2.810784,2.384648,2.433286,2.317089,...,2.415243,2.415243,2.415243,1.555746,1.164711,1.134868,1.411520,2.028959,1.920440,2.347447
0610010K14Rik,0.021912,2.489766,2.757202,3.976702,2.710902,2.710902,2.273515,2.508973,2.053449,4.130148,...,2.337376,2.337376,2.337376,2.372110,4.199490,3.852176,2.431781,2.978761,3.754601,3.030129
0610012G03Rik,1.881002,3.580057,3.381651,3.928268,3.530752,3.530752,2.594292,2.414709,3.427541,2.747287,...,1.855522,1.855522,1.855522,2.377652,2.729656,2.542550,3.864599,4.558817,2.685830,2.846667

In [10]:
data_t.head()

,Jagn1_1,Dhcr24_2,Dhcr24_3,Epcam_4,Cdk8_5,Cdk8_6,Irf8_9,Irf8_10,Cybb_11,Rsf1_12,...,Skiv2l_3448,Skiv2l_3449,Skiv2l_3450,Mir155_3452,Mir155_3453,Mir155_3454,Ogt_3457,Ogt_3460,Zfp281_3461,Mir379_3462
Gene Name,,,,,,,,,,,,,,,,,,,,,
0610006L08Rik,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.023214,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
0610009B22Rik,0.465922,2.667185,2.767940,4.047388,3.202122,3.013076,2.348409,2.399388,2.603772,3.688244,...,3.299716,3.106673,2.923832,1.454949,2.178326,1.172836,2.724081,3.122672,3.261322,2.797590
0610010F05Rik,1.061476,2.277352,2.256249,2.056162,3.347701,3.389847,2.771389,2.558135,2.392684,1.767090,...,2.454328,2.159812,1.997685,1.428997,1.341852,1.184417,1.029446,1.715162,1.815667,2.250776
0610010K14Rik,0.085466,2.187100,2.120589,3.867641,3.532715,3.485501,2.171422,2.659355,3.274711,3.351224,...,2.744637,2.523585,2.344390,3.754913,4.172966,4.204823,2.196904,2.630918,3.764078,3.110431
0610012G03Rik,1.819875,3.235712,3.172365,4.154650,3.461723,3.382530,2.616128,2.587746,3.409223,2.855982,...,1.856255,1.684385,1.501133,2.341563,2.367386,2.631343,4.215603,4.796260,2.971629,3.021435

In [ ]:
data_